.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-navbar {
  padding: 30px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left,
.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-left {
  font-weight: bold;
  font-size: 35px;
}

.nav-links li a, .nav-left li a {
  color: white;
  text-decoration: none;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
}

.not-found-title {
  font-size: 8rem;
  margin: 0;
}

.not-found-message {
  font-size: 1.5rem;
  margin: 10px 0;
}

.not-found-link {
  color: blue;
  text-decoration: underline;
  font-size: 1.2rem;
}

.settings-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.settings-container.light {
  background-color: #ffffff;
  color: #000000;
}

.settings-container.dark {
  background-color: #333333;
  color: #ffffff;
}

.theme-toggle-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.theme-toggle-button:hover {
  background-color: #0056b3;
}

.app-container {
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}

.app-container.light {
  background-color: #ffffff;
  color: #000000;
}

.app-container.dark {
  background-color: #333333;
  color: #ffffff;
}

.back-to-dashboard-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #28a745;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}

.back-to-dashboard-button:hover {
  background-color: #218838;
}
