.profile-container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 30px;
  transform: translate(-50%, -50%);
}

.profile-container.dark {
  color: black;
}

.profile-container h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.profile-container p {
  font-size: 1rem;
  margin: 5px 0;
}

.profile-container ul {
  list-style-type: none;
  padding: 0;
}